html, body {
    margin: 0;
    padding: 0;
    background-color: brown;
    color: red;
}

#maps-google {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.main {
    background-color: #fff;
    color: aqua;
    
    width: 100%;
    height: 100vh;
    
    overflow: hidden;
}