{% extends 'retina/base.html' %}
{% block content %}
<h1></h1>
<p> <b><font size="5"> Introduction </font></b></p>
    <div>
    One of the most useful elements of data analyzing is visualization. Proper view of big data
    is neccessary to improve the analyzing proccess. <br>Thanks to visualization it is possible to make
    initial selection, evaluate if test was performed as assumed, if nothing perturbed experiment
    or if it is neccessary to perform experiment one more time.
    <br>Main assumption to create this application was to support data analyzing from retina project located
    on local, internal server. Thanks to this website it is possible to create a plot for every raw data in easy and fast way.
    </div>

<br>
<p> <b> <font size="5"> How to use </font> </b></p>
    <div>
        To use application an account is neccessary. Please note that every new account is created as <font color="red">INACTIVE</font> and only administrator
    can authorize it. <br>If you have any problem with authorization or if you have a question please contact one of web administrator:<br>
        <b>Tomasz Szumlak, PhD</b><br>
        <b>Paweł Hottowy, PhD </b>
    </div>
{% endblock content %}
